<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css"> 
    <style type="text/css">  
    <!-- 
      #login label {width: 100px;}
    -->  
    </style>  

    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <! [endif]-->
  </head>
  <body>
    <header>
      <h1>チャット</h1>
    </header>
  
    <section>
      <h2>これは？</h2>
      <p>HTML5 の WebSocket を使ったチャットです。Safari5, Google Chrome, Chromium あたりで動きます。</p>
      <p>サーバ側は、Ruby の <a href="http://github.com/igrigorik/em-websocket" target="_blank">em-websocket</a> を使っています。</p>
    </section>
    <section>
      <form action="room" id=login method="POST">
        <label for=title>部屋 :</label>
        <input type=text id=title name=title size=20 /><br />
        <label for=title>名前 :</label>
        <input type=text id=user name=user size=20 /><br />
        <input type=submit id=submit value="部屋を作成 or 入室" />
      </form>
    </section>
  </body>
</html>
