<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>おえかきちゃっと♥</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css"> 
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1><a href="/" style="color:white;">おえかきちゅっちゅ♥</a></h1>
      <nav>
        <ul>
          <li>メニュー</li>
          <li>を</li>
          <li>いれる</li>
        </ul>
      </nav>
    </header>

    <section id="mainSection">
      <img src="/i/<%= @filename %>" />
    </section>

    <footer>
      <address>Created by <a href="http://twitter.com/projecthl2" target="_blank">@projecthl2</a> &amp; <a href="http://twitter.com/ecpplus" target="_blank">@ecpplus</a></address>
    </footer>
  </body>
</html>
