a, a:hover, a:visited {
  color: white;
  font-weight: bold;
}

header {
  display: block;
  color: #ffffff;
  background: #000000;
  padding: 10px;
}

header ul li {
  display: inline;
}

section {
  padding: 10px;
  display: block;
}

h2 {
  font-size:large;
  font-weight:bold; 
}

#mainSection {
  margin-bottom: 10px;
  float: left;
  width: 660px;
  line-height: 2;
}

#chatSection {
  padding-left: 670px;
  width : 400px;
}

#mainCanvas {
  border: 1px solid #000000;
}

footer {
  clear: left;
  color: #ffffff;
  background: #000000;
  padding: 10px;
  display: block;
}

#comments {border-bottom: 1px dotted #ccc; line-height: 2;}
#comments td{border-top: 1px dotted #ccc; font-size: small;}
#comments .user_name {width: 80px; text-align:right; padding-right: 10px;}
#comments .comment   {width: 300px; text-align:left;  padding-right: 10px;}
#comments .time      {width: 40px;  text-align:left;  font-size:x-small;}
