#mainHeader {
  color: #ffffff;
  background: #000000;
}

#mainHeader ul li {
  display: inline;
}

#mainSection {
  margin-bottom: 160px;
  float: left;
  width: 650px;
}

#chatSection {
  padding-left: 650px;
}

#mainCanvas {
  border: 1px solid #000000;
}

#mainFooter {
  clear: left;
  color: #ffffff;
  background: #000000;
}

#comments {border-bottom: 1px dotted #ccc;}
#comments td{border-top: 1px dotted #ccc;}
